.main-form {
    width: 800px;
    margin: auto;
}

.maincontainer{
}
.banner {
  position: relative;
    width: 800px;
    margin: auto;
}
.stamp {
  position: absolute;
  top: 20px;
  left: 50px;
}

.title-h1{
    color: #47699D;
    width: 800px;
    font-family: "Century Gothic",Arial,Verdana;
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0 0 5px 0;
    font-weight: bold;
}

.header-desc{
    width: 800px;
    clear: both;
    color: #4d73ac;
    font-size: 1.6em;
    padding-bottom: .75em;
    text-transform: uppercase;
}

.footer-price-rgpd{
    color: #47699D;
    width: 800px;
    font-family: "Century Gothic",Arial,Verdana;
    font-size: 1em;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    font-style:italic;
}